<!DOCTYPE html>
<html ng-app>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel='stylesheet' type='text/css' href='../styles/page.css' />
    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <!-- AngularJS to avoid duplicate HTML for list. -->
    <!-- Load at beginning to avoid {{}} artifacts -->
    <script src="../vendor/jquery-ui-1.11.1/external/jquery/jquery.js"></script>
    <script src="../vendor/jquery-ui-1.11.1/jquery-ui.min.js"></script>
    <script src="../vendor/jeoQuery.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_TERm0JDbwiS_6APoLxAT8I_WOBugiCc">
    </script>
  </head>
  <body>
    <div id='location-list' ng-controller='MapInitializer'>
      <form id='search-form'>
        <p>Enter city:</p>
        <input class="input-large" id="city" type="text"/>
        <button ng-click='search()'>SEARCH</button>
      <form>
      <div id='list-header'>
        <p>LOCATIONS</p>
      </div>
      <div class='list-item' ng-class="{'selected-item': $index==selectedItem}" ng-click='moveToMarker($index)' ng-repeat='earthquake in data'>
        <span class='left'>{{ earthquake.name }}</span>
        <span class='right'>Mag: {{ earthquake.size }}</span>
      </div>
    </div>
    <div id="map-canvas"/>

    <!-- Load scripts at bottom for 'quicker' load -->
    <!--script src="../bower_components/jquery/dist/jquery.min.js"></script-->
    <script src='../js/mapInitializer.js'></script>
  </body>
</html>