html { 
	height: 100%;
}

body {
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: 'Oxygen', sans-serif;
}

#map-canvas { 
	height: 100%;
	width:100%;
	display: inline-block;
	position:absolute;
}

#search-form{
	margin: 5px 15px;
	color:#3498DB;
}

#search-form input{
	height:20px;
	width:98%;

	margin-bottom: 2px;
}

#search-form p{
	margin-bottom: 2px;
}

#search-form button{
	width: 100%;
}

#location-list{
	width:200px;
	min-width:200px;
	height:100%;
	background-color: #E9EAED;
	display: inline-block;
}

#list-header{
	text-align: center;
	letter-spacing: 0.5em;
	color:#3498DB;
	font-weight: bold;
	border-bottom: 2px solid #3498DB;
	margin-bottom: 30px;
}

.list-item{
	height:20px;
	margin:10px 15px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: -3px 3px 5px #888888;

	-webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.list-item:hover{
	cursor: pointer;
	box-shadow: -8px 8px 8px #888888;
	transform: scale(1.1);	
}

.left{
	display: inline-block;
	float: left;
}

.right{
	display: inline-block;
	float: right;
}

.selected-item{
	box-shadow: inset -3px 3px 5px #888888;
	transform: scale(1);	
}

.selected-item:hover{
	box-shadow: inset -3px 3px 5px #888888;
	transform: scale(1);	
}
